---
import Header from "@components/ChatHeader.astro";
import ChatContainer from "@components/ChatContainer";
import ChatSend from "../components/ChatSend.astro";
import "../styles/global.css";
import CamViewer from "@/components/CamViewer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script type="module" src="/src/main.js" defer></script>

  </head>
  <body>
    <Header />
    <ChatContainer client:load />
    <ChatSend />
    <CamViewer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #1e1e1e;
  }
</style>
