---
import { supabase } from "@modules/SupabaseClient";
import Header from "@components/ChatHeader.astro";
import ChatContainer from "@components/ChatContainer.jsx";
import ChatSend from "@components/ChatSend.astro";
import "../styles/global.css";
import CamViewer from "@components/CamViewer.astro";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/Login");
}

let session;
try {
  session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });
  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });
    return Astro.redirect("/signin");
  }
} catch (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/signin");
}


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script>
      (function() {
        // Chequeo inmediato (ejecuta antes de DOM)
        const username = localStorage.getItem('username');
        if (!username) {
          console.log('No username, redirigiendo temprano a /Login');
          window.location.replace('/Login');  // replace evita history back
          return;
        }

        console.log('User loaded early:', username);
      })();
    </script>
    <script type="module" src="/src/main.js" defer></script>

  </head>
  <body>
    <Header />
    <ChatContainer client:load />
    <ChatSend />
    <CamViewer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #1e1e1e;
  }
</style>
