---
import { actions } from "astro:actions";

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
if (accessToken && refreshToken) {
  return Astro.redirect("/");
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Login - Chat Astro</title> 
    <link rel="stylesheet" href="/src/styles/auth/Login.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <p>Ingresa a tu cuenta</p>
      <form action={actions.login} method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Contraseña" required minlength="6" />
        <button type="submit">Ingresar</button>
      </form>
      <a href="/Register" class="link-register">¿No tienes cuenta? Regístrate</a>
    </div>

  </body>
</html>
