---
const { user } = Astro.props;
---

<link rel="stylesheet" href="/src/styles/ChatHeader.css" />
<header class="header">
  <h3 class="title">Sena Chat</h3>
  <div class="header-info">
    <div class="info">
      <div id="status" class="loading"></div>
      <div class="count">
        <span id="userCounter" class="count-counter">0</span> usuarios conectados
      </div>
    </div>
    <div id="logoutButton" class="logout-button" title="Cerrar sesión">
        {user.avatar ? 
        <img  class="user-photo" src={user.avatar} alt="Avatar" /> 
        : (
        <span class="user-initial">{user.username.charAt(0).toUpperCase()}</span>
        )}
    </div>
  </div>
</header>
<script type="module" src="/src/handlers/Components/ChatHeaderHandler.ts"></script>
