<link rel="stylesheet" href="/src/styles/ChatHeader.css" />
<header class="header">
  <h3 class="title">Sena Chat</h3>
  <div class="info">
    <div id="status" class="loading"></div>
    <div class="count">
      <span id="userCounter" class="count-counter">0</span> usuarios conectados
    </div>
  </div>
</header>
