<link rel="stylesheet" href="/src/styles/ChatFooter.css" />
<div class="attach-button" id="attachButton">
  <input type="file" id="fileInput" name="file" hidden />
  <details>
    <summary>
      <img
        src="/src/assets/icons/plus-solid-full.svg"
        alt="plus"
        class="icon"
      />
    </summary>
    <div class="attach-menu">
      <label for="fileInput" aria-label="Seleccionar archivo">
        <img
          src="/src/assets/icons/file-thin-full.svg"
          alt="file"
          class="icon"
        />
      </label>
      <button id="BtnMicrophone" type="button" aria-label="Grabar audio" class="btn-microphone">
        <img
          src="/src/assets/icons/microphone-thin-full.svg"
          alt="microphone"
          class="icon"
        />
      </button>
      <button id="BtnCamera" type="button" aria-label="Abrir cámara" class="btn-camera">
        <img
          src="/src/assets/icons/camera-light-full.svg"
          alt="camera"
          class="icon"
        />
      </button>
    </div>
  </details>
</div>

<script type="module" src="/src/handlers/Components/AttachButtonHandler.ts"
></script>
